<ActionBar title="Amway" >
    <ActionItem icon="font://&#xf0c9;" class="fas t-20" ios.position="left" >
    </ActionItem>
    <ActionItem icon="font://&#xf217;" class="fas t-20" ios.position="right" >
    </ActionItem>
    <ActionItem icon="font://&#xf007;" class="fas t-20" ios.position="right" >
    </ActionItem>
</ActionBar>
<StackLayout orientation="vertical"  backgroundColor="lightgray">
    <AbsoluteLayout height="210" backgroundColor="lightgray">
        <Label text="10, 10" left="10" top="10" width="90" height="90" backgroundColor="red" ></Label>
    </AbsoluteLayout>
</StackLayout>

